version: '3.8'

services:
  poll:
    build: ./poll
    ports:
      - "5000:80"
    environment:
      - REDIS_HOST=redis
    networks:
      - poll-tier

  redis:
    image: "redis:alpine"
    ports:
      - "6379:6379"
    networks:
      - poll-tier
      - back-tier
    restart: unless-stopped

  worker:
    build: ./worker
    environment:
      REDIS_HOST: redis
      DB_HOST: db
      DB_USER: postgres
      DB_PASSWORD: password
    networks:
      - back-tier
    depends_on:
      - redis
      - db
    restart: unless-stopped

  db:
    container_name: "db"
    image: "postgres:9"
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./schema.sql:/docker-entrypoint-initdb.d/schema.sql
    ports:
      - "5432:5432"
    networks:
      - back-tier
      - result-tier
    restart: unless-stopped

  result:
    build: ./result
    ports:
      - "5001:80"
    environment:
      DB_HOST: db
      DB_USER: postgres
      DB_PASSWORD: password
    networks:
      - result-tier
    depends_on:
      - db
    restart: unless-stopped

networks:
  poll-tier:
  back-tier: 
  result-tier:

volumes:
  db-data: